@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root {
    --fonte1 : 'Graduate', serif;
    --fonte2 : 'Salsa', cursive;
}

html, body {
    min-height: 100vh;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}


p,h1 {
    color: #a58429;
    transform: skew(-3deg);
}

header > h1 {
    text-align: justify;
    font-size: 5em;
    padding-top: 0.5em;
    font-family: var(--fonte1);
    padding: 20px 70px 30px 10px;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.712);
}

section > h1 {
    font-size: 3em;
    font-family: var(--fonte1);
    padding: 100px 70px 30px 10px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.712);
}

p {
    text-align: justify;
    font-family: var(--fonte2);
    padding: 15px 110px 20px 10px;
    font-size: 1.6em;
}

ul {
    padding-top: 30px;
}

li {
    padding: 20px;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: #a58429;
    padding: 2px;
}

#icones {
    max-width: 2em;

}

div.texto {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to left, #daa520 1%, black 6%);
    width: 65%;
    padding-left: 55px;
    padding-bottom: 20px;
    color: white;
    box-shadow: 9px 0px 14px 1px #daa520;
    transform: skew(3deg);
}

div.imagem {
    background-image: url(../imagem\ site\ full.jpg);
    background-position: right center;
    height: 98vh;
    background-repeat: no-repeat;
    background-size: 35% 100%;
    padding-bottom: 20px;
    background-attachment: fixed;
}
