@charset "UTF-8";

@font-face {
    font-family: 'Angel';
    src: url(fontes-gotico/Angel\ wish.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cardinal';
    src: url(fontes-gotico/Cardinal.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wrath';
    src: url(fontes-gotico/WrathStyles.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --fonte1: 'Angel', cursive;
    --fonte2: 'Cardinal', cursive;
    --fonte3: 'Wrath', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    background-color: darkgrey;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header>h1 {
    padding-top: 50px;
    font-size: 16vw;
    font-family: var(--fonte1);
    font-variant: small-caps;
}


header>p {
    padding: 15px;
    font-family: var(--fonte3);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
    font-family: var(--fonte2);
}

section>p {
    padding-bottom: 2em;
}

section#tx1 {
    background-image: linear-gradient(to bottom, #ff0000d2 -123%, rgba(0, 0, 0, 0.842) 77%);;
    color: rgb(255, 255, 255);
}

section#tx2 {
    background-image: linear-gradient(to bottom, #ff00ead2 -123%, rgba(0, 0, 0, 0.842) 77%);;
    color: rgb(255, 255, 255);
}

section.imagem {
    background-color: rgba(51, 51,51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);
    background-attachment: fixed;
    background-size: cover;
}

section>p>a {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

section#img01 {
    background-image: url(../imagens/foto\ 3.jpg);
    background-position: top center;
}

section#img02 {
    background-image: url(../imagens/foto\ 4.jpg);
}

section.imagem>p {
    background-color: rgba(0, 0, 0, 0.514);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

footer {
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
}